.fotoPerfil {
  height: 500px;
}
.cuerpo {
  background-image: url("../assets/codingBack.avif");
}
.cardLogo {
  background-color: transparent;
  width: 150px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.cardLogo:hover {
  transform: scale(1.1);
}
